html, body{
  padding: 0;
  margin: 0;
}
body{
  background: white;
}
.header{
  color: black;
  font-size: 20;
  font-weight: 800;
  font-family: 'Indie Flower', cursive;
}
.header h1{
  text-align: center;
  padding-top: 150px;
}
