<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Southwest Green Team - Home</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/style.css" type="text/css">
    <script>
    //----------------------Loading Screen-------//
    window.addEventListener("load", function(){
      var load_screen = document.getElementById("load_screen");
      setTimeout(function(){
      document.body.removeChild(load_screen);
      $('.header').addClass('active');
      }, 700);
    });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="load_screen">
      <div id="load">
        <img src="../images/green-leaf-icon.jpg">
      </div>
    </div>

    <div class="header">
      <h1>
        Southwest Green Team
      </h1>
    </div>
    <div class="navbar">
      <div class="container">
        <ul>
         <a id="home">Home</a>
         <a id="events" href="#">Upcoming Events</a>
         <a id="members" href="#">Members</a>
         <a id="contact" href="#">Contact Us</a>
       </ul>
      </div>
    </div>
    <div class="contents">
      <div class="about">
        <h1>About Us</h1>
        <p>Welcome to Green Team! We're a student-run organization at Southwest High School.
           Our goal is to raise awareness of environmental issues through student leadership.
           Our 60+ members attend monthly meetings, participate in community service, and teach younger students about environmental topics.</p>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <b>Southwest Green Team</b>
        <p>Fueled by Southwest</p>
        <a href="http://www.swcodeclube.com">Code Club</a>
      </div>
    </div>
  </body>
</html>
