<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Southwest Green Team - Home</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/style.css" type="text/css">
    <script type="text/javascript">
    var page_loaded = "no";
    //----------------------Loading Screen-------//
    window.addEventListener("load", function(){
      var load_screen = document.getElementById("load_screen");
      setTimeout(function(){
      document.body.removeChild(load_screen);
      page_loaded = "yes";
      }, 700);
    });
    $(document).ready(function(){
      if (page_loaded = "yes"){
        $('.header').addClass('active');
      }
    });
    </script>
  </head>
  <body>
    <div id="load_screen">
      <div id="load">
        <p>•IMG•</p>
      </div>
    </div>

    <div class="header">
      <h1>
        Southwest Green Team
      </h1>
    </div>
    <div class="navbar">
    </div>
    <div class="contents">
    </div>
  </body>
</html>
