<!DOCTYPE HTML>


<html>
<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
<style>
  h1 {color: red;}
  p {color: blue;} 
</style>
<link rel="stylesheet" type="text/css" href="/../static/CSS/style.css">
<h1 style='background-image: url("mountain.jpg"); text-align: center; background-size: 100%; font-size: 150px; height: 400px;'>Upcoming Events</h1>
</head>
<body id = "crumb" style ='background: #006400;' ><div class="header"><h1>Meetings:</h1></div>
 <ul>
    <li>September 20, 2017</li>
    <li>October 18, 2017</li>
    <li>November 15, 2017</li>
    <li>December 13, 2017</li>
    <li>January 17, 2018</li>
    <li>February 14, 2018</li>
    <li>March 21, 2018</li>
    <li>April 25, 2018?</li>
    <li>May 23, 2018</li>
</ul> 
<h4>*All meetings are on Wednesday nights from 6:30-8 PM*</h4>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<h1>Service:</h1>
<ul>
    <li>The LAST Wednesday of every month is volunteering at ARC Value Village 6-8 PM</li>
    <ul>
        <li>February 28</li>
        <li>March 28</li>
    </ul>
</ul>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<h1>Field Trips:<h1>
    <ul>
    <li style='font-size: 20px;'>We currently have no field trips planned, stay tuned!</li>
    </ul>
</body>
<html>